img {
    transition: 1.5s;
}

input:checked~img {
    /* 1. biến mất khỏi giao diện, không giữ vị trí */
    /* display: none; */
    /* 2. biến mất khỏi giao diện, nhưng vẫn giữ vị trí */
    /* visibility: hidden; */
    /* 3. làm mờ đi */
    opacity: 0;
}

h1 {
    color: brown;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}